/*
 *  Elegant - 1.0
 *  Author: Finetti Leonardo - FiNeXdesign 2007
 *  Homepage: http://www.finex.org
 *  Email: finex@finex.org
 *  Date: 24/10/20007
 */


body{
  background-color:white;
  border:0;
  margin:0;
  padding:0;
  color: #4e4e4e;
  font: 16px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  text-align:center;
}

a, a:link, a:visited, a:active{
  text-decoration:none;
  color:#E57B05
}

a:hover{
  text-decoration:underline;
}

div#main a, div#main a:link, div#main a:visited, div#main a:active{
/*   color:#6785a1; */
}

div#secondary a, div#primary a{
  color:white;
}

div#primary a{
  padding:10px;
}

div#primary a.active{
  color:white
}

#author{
  padding-top:15px;
}

.wrapper{
  width:100%;
  clear:both;
}

img{
  margin:0;
  padding:0;
  border:0;
  line-height:0;
  font-size:0;
}

h1, h2, h3, p{
  margin:0;
  padding:0;
  border:0;
  font-size:16px;
}

h1, h2, h3 {
  color:#7B3A08;
}

div#main h1{
  font-size: 1.8em;
}

div#main h2{
  font-size: 1.6em;
}
div#main h3{
  font-size: 1.2em;
}

div#sidebar h2{
  font-size:1.4em;
}

div#secondary{
  background-color: #2A2A2A;
  margin:0;
  border:0;
  padding:0;
  font-size:12px;
  line-height:1.6em;
}


div#primary{
  background-color: #2A2A2A;
  margin:0;
  border:0;
  padding:10px 0 10px 0;
  font-size:16px;
}

div#breadcrumb, div.breadcrumb{
  font-size:12px;
}

div#secondary .links,
div#breadcrumb .breadcrumb {
  text-align:right;
}

div#header{
  margin:0;
  border:0;
  padding:0;
  width:100%;
  height:190px;
  display:block;
  background-image:url(img/hdr_bg.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  clear:both;
}

div#logo{
  float:left;
}

div#site_name{
  padding-top:20px;
  color:white;
  float:right;
  text-align:right;
}

div#site_name h1{
  font-size:2.5em;
  color:white;
}

div#site_name h1 a:hover{
  text-decoration:none;
}


div#page{
  margin:0;
  border:0;
  padding:0;
  background-color:#f2f2f2;
}

div#footer{
  margin:0;
  border:0;
  padding:10px 0 10px 0;
  width:100%;
  display:block;
  background-color:#2A2A2A;
  font-size:12px;
  color:white;
}

div.column{
  clear:both;
  text-align:left;
  width:960px;
  margin:0 auto;
}

div#page .column{
  background-color:white;
  background-position:top left;
  background-repeat:repeat-y;
}

div#sidebar{
  line-height:1.6em;
  width: 190px ;
  float:left;
  color:#d6e3ef;
  font-size:14px;
  padding:5px
}

div#main{
  width: 730px;
  float:right;
  padding:10px 10px 40px 20px;
  line-height:2em;
}


.sticky{
  background-color:#E5EBFF;
  border:1px solid #27527A;
  padding:10px;
}

.block{
  padding-bottom:20px;
}

.submitted, .taxonomy{
  color:#7E7E7E;
  font-size:0.9em;
}

.more-link, .node_read_more{
  font-size:0.9em;
  font-style: italic;
}

.node{
margin-bottom:25px;
}


.comment{
  background-color:#F2F2F2;
  border:1px solid #DDDDDD;
  padding:10px;
  margin:10px 0 10px 0;
}

/*
 * Extra style from drupal default CSS.
 * The default CSS of drupal is removed from the template.php
 */

/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 2px;
}
html.js input.throbbing {
  background-position: 100% -18px;
}
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #d9eaf5;
}
fieldset legend {
  /* Fix disappearing legend in FFox */
  display: block;
}
/* Collapsing fieldsets */
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 0;
  height: 1em;
}
html.js fieldset.collapsed * {
  display: none;
}
html.js fieldset.collapsed legend {
  display: block;
}
html.js fieldset.collapsible legend a {
  padding-left: 2em;
  background: url(img/menu-expanded.gif) no-repeat 0% 50%;
}
html.js fieldset.collapsed legend a {
  background: url(img/menu-collapsed.gif) no-repeat 0% 50%;
}
/* Note: IE-only fix due to '* html' (breaks Konqueror otherwise). */
* html.js fieldset.collapsed legend,
* html.js fieldset.collapsed legend *,
* html.js fieldset.collapsed table * {
  display: inline;
}
html.js fieldset.collapsible legend a {
  display: block;
}
/* Avoid jumping around due to margins collapsing into collapsible fieldset border */
html.js fieldset.collapsible .fieldset-wrapper {
  overflow: auto;
}
/* Resizable text areas */
.resizable-textarea {
  width: 95%;
}
.resizable-textarea .grippie {
  height: 9px;
  overflow: hidden;
  background: #eee url(../../misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
}
html.js .resizable-textarea textarea {
  margin-bottom: 0;
  width: 100%;
  display: block;
}
/* Progressbar styles */
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #fff url(../../misc/progress.gif);
  border: 1px solid #00375a;
  height: 1.5em;
  margin-top: 0.2em;
}
.progress .filled {
  background: #0072b9;
  height: 1em;
  border-bottom: 0.5em solid #004a73;
  width: 0%;
}
.progress .percentage {
  float: right;
}